---
title: "Cocktails"
layout: default
permalink: "/cocktails.html"
---

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured Cocktails</span></h2>
    </div>
    <div class="row">

    {% for post in site.posts %}

        {% if post.featured == true and post.categories contains 'cocktails' %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>
</section>

<!-- List by tag
================================================== -->
<div class="row listrecent">
{% for tag in site.tags %}
{% assign pages_list = tag[1] %}
{% for post in pages_list %}
{% if post.categories contains 'cocktails' %}
<div class="section-title col-md-12 mt-4">
<h3 id="{{ tag[0] | replace: " ","-" }}">   <span class="text-capitalize">{{ tag[0] }}</span></h2>
</div>
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
</div>
